header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
body
{
    font-family: cursive;
background-color: gray;
}
h1{
    color: white;
}
.about 
{
background-color: tomato;
color: white;
border: 2px solid black;
margin: 20px;
padding: 20px;
}
.tab 
{
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
}
button 
{
background-color: gray;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;
}
.tabcontent 
{
display: none;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}